.signin__container {
  display: grid;
  place-items: center;
  height: 88vh;
  margin: 0 1rem;
}
.MuiFormHelperText-root {
  color: red !important;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .MuiCircularProgress-svg {
    color: white;
    transform: scale(2);
  }
}
