@use "../../../styles/style" as *;
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 3rem;
  width: 100%;
  overflow: hidden;
}
.mobile {
  display: none;
}
.desktop,
.last {
  width: 100%;
}
@include media($sm) {
  .container {
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }
  .desktop {
    width: 100%;
    display: none;
  }
  .mobile {
    width: 100%;
    display: contents;
  }
  .last {
    width: 100%;
    padding-bottom: 1rem;
  }
}
