@use "../../styles/style" as *;
.main__container {
  width: 100%;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.divider {
  width: 90%;
  height: 0.08rem;
  background: rgb(0, 0, 0, 0.5);
  margin: 1rem auto;
}
